.sg-add-category{
    .sg-list-text{
        text-align: center;
        font-size: 1.8rem;
    }

    .item{
        background-color: #e5e5e5;
    }

    .text-bold{
        font-weight: bold;
        color: black;
    }
    .sg-text-color{
        color: #e5e5e5;
    }

    ion-icon{
        margin-top: 5px;
    }

    h5 {
        margin-top: -10px;
    }
}