<ion-header>
  <ion-navbar color="dark">
    <ion-title>Add Category</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="sg-add-category">
  <form [formGroup]="addCategoryForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Category Name</ion-label>
        <ion-input type="text" formControlName="category" [(ngModel)]="categoryForm.category" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="textarea" formControlName="description" [(ngModel)]="categoryForm.description" required></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <h1 class="sg-text-color">PROPERTIES</h1>
  <h5 *ngIf="properties?.length == 0" color="danger">* Add one or more properties</h5>
  <ion-list>
    <ion-list-header *ngIf="properties?.length > 0">
      <ion-row>
        <ion-col class="sg-list-text text-bold">
          NAME
        </ion-col>
        <ion-col class="sg-list-text text-bold">
          UNIT
        </ion-col>
      </ion-row>
    </ion-list-header>
    <ion-item *ngFor="let property of properties; let i = index">
      <ion-row>
        <ion-col class="sg-list-text">
          {{property.name}}
        </ion-col>
        <ion-col class="sg-list-text">
          {{property.unit}}
        </ion-col>
        <ion-icon (click)="deleteItem(i)" name="remove-circle"></ion-icon>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showPropInput">
    <ion-item>
      <ion-label floating>Property Name</ion-label>
      <ion-input type="text" [(ngModel)]="propertyName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Property Unit</ion-label>
      <ion-input type="text" [(ngModel)]="propertyUnit"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="addProp(propertyName,propertyUnit)">Add Property</button>
      <button ion-button (click)="cancelProp()">Cancel</button>
    </ion-item>
  </ion-list>

  <button *ngIf="!showPropInput" ion-button (click)="showProp()">Add Property</button>

  <br>
  <br>
  <button ion-button color="dark" block (click)="presentActionSheet()">Select Image</button>
  <h2 class="sg-text-color" *ngIf="base64Image">Image:</h2>
  <img [src]="base64Image" *ngIf="base64Image" />
  <br>

  <ion-row>
    <ion-col>
      <button ion-button [disabled]='((!addCategoryForm.valid) || !(properties?.length > 0) || !(base64Image))' (click)="addCategory()"
        color="dark" block>Add Category</button>
    </ion-col>
  </ion-row>
</ion-content>