<ion-header>

  <ion-navbar color="dark">
    <ion-title>Hide Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="sg-hide-category">
  <ion-list>
    <ion-item *ngFor="let subcategory of subcategories?.message">
      <ion-thumbnail item-left>
          <img [src]="subcategory.imgUrl"/>
        </ion-thumbnail>
        <h2>{{subcategory.subcategoryName}}</h2>
        <h3>{{subcategory.description}}</h3>
        <ion-icon (click)="hideSubcategory(subcategory.subcategoryName)" name="eye" item-right *ngIf="subcategory.recordActive"></ion-icon>
        <ion-icon (click)="showSubcategory(subcategory.subcategoryName)" name="eye-off" item-right *ngIf="!subcategory.recordActive"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
