<ion-header>

  <ion-navbar color="dark">
    <ion-title>Add Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="sg-add-items">
  <ion-list>
    <ion-item>
      <ion-label>Subcategory</ion-label>
      <ion-select [(ngModel)]="selectedSubcategory" multiple="false">
        <ion-option *ngFor="let subcategory of subcategories" value="{{subcategory.subcategoryName}}">{{subcategory.subcategoryName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button color="dark" block (click)="getItemTemplate()" [disabled]='selectedSubcategory == ""'>Display Template</button>
  <br>
  <div *ngIf="showTemplate">
    <ion-list>
      <ion-item>
        <ion-label>File Type</ion-label>
        <ion-select [(ngModel)]="fileType" multiple="false">
            <ion-option value="jpg">JPG / JPEG</ion-option>
            <ion-option value="png">PNG</ion-option>
            <ion-option value="gif">GIF</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button color="dark" block (click)="presentActionSheet()" [disabled]='fileType == ""'>Select Image</button>
    <h2 class="sg-text-color" *ngIf="base64Image">Image:</h2>
    <img [src]="base64Image" *ngIf="base64Image" />

    <br>
    <ion-list [formGroup]="itemPropForm">
      <ion-item *ngFor="let temp of itemTemplate">
        <ion-label floating>{{temp.name}} in {{temp.unit}}</ion-label>
        <ion-input type="text" formControlName="{{temp.name}}" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button [disabled]="!itemPropForm.valid || !base64Image" (click)="AddItem()" color="dark" block>Add Item</button>
  </div>

</ion-content>